body {
    font: 100%/1.4 Century Gothic;
    background: #373737 url("../img/bg.png") 0 0 repeat;
    padding: 0;
    color: #000;
    text-align: center;
    width:1010px; 
    margin:auto; 
    width:1010px; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/*###LOGIN###*/

#page_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 904px;
    top: -32px;
}
#header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 135px;
    background: #F88017  no-repeat center;
    position: relative;
    border-bottom: 1px solid #C35617;
} 
#header h1 {
    /*display: none;*/
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 25px;
    font-size: 40px;
    color: #fff;
    margin: 0 auto; /*Centro Absoluti*/
}
#header h2 {
    /*display: none;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: bold;*/
    font-size: 16px;
    color: black;
}
.panel_button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1px;
    width: 173px;
    height: 54px;
    background: url(../images/panel_button.png);
    z-index: 20;
    filter:alpha(opacity=70);
    -moz-opacity:0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    cursor: pointer;
}
.panel_button img {
    position: relative;
    top: 10px;
    border: none;
}
.panel_button a {
    text-decoration: none;
    color: #545454;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 5px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.panel_button a:hover {
    color: #999999;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}
#toppanel {
    position: absolute;
    width: 900px;
    left: 0px;
    z-index: 25;
    text-align: center;
}
#panel {
    width: 900px;
    position: relative;
    top: 1px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    overflow: hidden;
    text-align: left;
}
#panel_contents {
    background: black;
    filter:alpha(opacity=70);
    -moz-opacity:0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    height: 100%;
    width: 904px;
    position: absolute;
    z-index: -1;
}
#panel h1 {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
    line-height: 35px;
    left: 225px;
    position: absolute;
    top: 10px;
}
#panel h2 {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: rgba(256,0,0,0.5);
    line-height: 25px;
    font-size: 16px;
    position: absolute;
    top: 60px;
    left: 360px;
}
#content {  
    margin-left: auto;  
    margin-right: auto;  
    width: 600px;  
    position: relative;  
    top: 90px;  
    text-align: left;  
    color: #545454;  
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 12px;  
    padding-bottom: 30px;  
}
.border {
    border: 15px #1d1d1d solid;
}
img.border {
    float: left;
    margin-right: 15px;
    margin-bottom: 8px;
}
img.border_pic {
    border: 15px #1d1d1d solid;
    position: absolute;
    top: 110px;
    float: left;
    margin-left: 150px;
    width: 250px;
    height: 150px;
    z-index: 30;
}
div#login {
    width: 240px;
    height: 150px;
    position: absolute;
    right: 150px;
    top: 110px;
    background: #46392f; /*COLOR DE FONDO DE CUADRO DE LOGIN*/
    text-align: left;
    padding-left: 5px;
}
div#login p {
    color: #CCCCCC;
    font-family: Century Gothic;
    line-height: 5px;
}
.username {
    position: relative;
    right: 0x;
    width: 110px;
    border: 1px solid;
    border-radius: 5px;
}
.password {
    position: relative;
    right: 0x;
    width: 110px;
    border: 1px solid;
    border-radius: 5px;
}
div#login input#login_btn {
    padding-bottom: 5px;
}
#footer p {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 60px;
    font-size: 13px;
    color: #333333;
}

#main{
    margin:0 auto;
    position:relative;
    width:100px;
    left: 0px;
}

/*###LOGIN###*/

.contenedor {
    /* width: 960px;*/
    margin: 0 auto; /* el valor automático de los lados, unido a la anchura, centra el diseño */
}
.encabezado {
    margin-left: auto;
    margin-right: auto;
    height: 136px; /*Altura*/
    width: 100%;
    background: #F88017 url("../img/green-wallpaper.jpg") no-repeat center top ;
    position: relative;
    border-bottom: 1px solid #C35617;
    border:1px solid #fff; /*Color del borde*/
    border-color:#fff #191919 #191919 #fff ;
} 
.logo {
    width:130px;
    height:130px;
    padding-top: 3px; /*Separacion del borde superior*/
    padding-left: 3px;
    float: left;
    position: static;
}
.logo2 {
    width:130px;
    height:130px;
    padding-top: 3px; /*Separacion del borde superior*/
    padding-right: 3px;
    float: right;
    position: static;
}
.login{
    width: 170px;

    float:right;
    text-align:right; 
    padding-right: 5px;
}

/*########################################### BOTON #################################################*/

@font-face {
    font-family: 'EntypoRegular';
    src: url('../font/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/entypo-webfont.woff') format('woff'),
        url('../font/entypo-webfont.ttf') format('truetype'),
        url('../font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.button, .button-bevel {
    font-family: Century Gothic;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 7px 20px 9px;
    margin: .5em .5em .5em 0;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    width: 115px;

}

.button {
    border-radius: 2px;
    box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
}

.button:active {
    box-shadow: inset rgba(0,0,0,0.4) 0px 0px 6px;
}

.rounded {
    border-radius: 20px;
}

.green {
    background: #82cc5d;
    background: -moz-linear-gradient(top,  #82cc5d 0%, #53b73c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82cc5d), color-stop(100%,#53b73c));
    background: -webkit-linear-gradient(top,  #82cc5d 0%,#53b73c 100%);
    background: -o-linear-gradient(top,  #82cc5d 0%,#53b73c 100%);
    background: -ms-linear-gradient(top,  #82cc5d 0%,#53b73c 100%);
    background: linear-gradient(to bottom,  #82cc5d 0%,#53b73c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82cc5d', endColorstr='#53b73c',GradientType=0 );
    border: 1px solid #429E34;
}

.green:hover {
    background: #99cc80;
    background: -moz-linear-gradient(top,  #99cc80 0%, #53b73c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cc80), color-stop(100%,#53b73c));
    background: -webkit-linear-gradient(top,  #99cc80 0%,#53b73c 100%);
    background: -o-linear-gradient(top,  #99cc80 0%,#53b73c 100%);
    background: -ms-linear-gradient(top,  #99cc80 0%,#53b73c 100%);
    background: linear-gradient(to bottom,  #99cc80 0%,#53b73c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cc80', endColorstr='#53b73c',GradientType=0 );
}


.button-bevel {
    vertical-align: top;
    border-radius: 4px;
    border: none;
    padding: 10px 25px 12px;
}

.button-bevel:active {
    position: relative;
    top: 5px;
}

.button-bevel.green {
    box-shadow: #439230 0 6px 0px, rgba(0, 0, 0, 0.3) 0 10px 3px;
}

.button-bevel.green:active {
    box-shadow: #439230 0 3px 0, rgba(0, 0, 0, 0.2) 0 6px 3px;  
}


.button span, .button-bevel span {
    font-family: 'EntypoRegular';
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle; 
    line-height: 0;
    margin-right: .1em;
}

.flag:after { content: "?"; font-size: 34px; }

.orange {
    background: rgb(255,183,0);
    background: -moz-linear-gradient(top,  rgba(255,183,0,1) 0%, rgba(255,140,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,0,1)), color-stop(100%,rgba(255,140,0,1)));
    background: -webkit-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700', endColorstr='#ff8c00',GradientType=0 );
    border: 1px solid #e59500;
}

.orange:hover {
    background: rgb(255,203,72);
    background: -moz-linear-gradient(top,  rgba(255,203,72,1) 0%, rgba(255,156,35,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,203,72,1)), color-stop(100%,rgba(255,156,35,1)));
    background: -webkit-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,203,72,1) 0%,rgba(255,156,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb48', endColorstr='#ff9c23',GradientType=0 );
}

.button-bevel.orange {
    box-shadow: #c46d00 0 6px 0px, rgba(0, 0, 0, 0.3) 0 10px 3px;
}

.button-bevel.orange:active {
    box-shadow: #c46d00 0 3px 0, rgba(0, 0, 0, 0.2) 0 6px 3px;  
}

.black {
    background: #444444;
    background: -moz-linear-gradient(top,  #444444 0%, #1c1c1c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#1c1c1c));
    background: -webkit-linear-gradient(top,  #444444 0%,#1c1c1c 100%);
    background: -o-linear-gradient(top,  #444444 0%,#1c1c1c 100%);
    background: -ms-linear-gradient(top,  #444444 0%,#1c1c1c 100%);
    background: linear-gradient(to bottom,  #444444 0%,#1c1c1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#1c1c1c',GradientType=0 );
    border: 1px solid #2a2a2a;
}

.black:hover {
    background: #686868;
    background: -moz-linear-gradient(top,  #686868 0%, #1c1c1c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(100%,#1c1c1c));
    background: -webkit-linear-gradient(top,  #686868 0%,#1c1c1c 100%);
    background: -o-linear-gradient(top,  #686868 0%,#1c1c1c 100%);
    background: -ms-linear-gradient(top,  #686868 0%,#1c1c1c 100%);
    background: linear-gradient(to bottom,  #686868 0%,#1c1c1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#1c1c1c',GradientType=0 );
}

.button-bevel.black {
    box-shadow: #000 0 6px 0px, rgba(0, 0, 0, 0.3) 0 10px 3px, inset rgba(255, 255, 255, 0.3) 0 0 3px;
}

.button-bevel.black:active {
    box-shadow: #000 0 3px 0, rgba(0, 0, 0, 0.2) 0 6px 3px, inset rgba(255, 255, 255, 0.3) 0 0 3px;  
}

.refresh:after { content: "h"; font-size: 34px; }
.shuffle:after { content: "f"; font-size: 34px; }
.preview:after { content: "M"; font-size: 34px; }
.tea:after { content: "u"; font-size: 34px; }
.wifi:after { content: "T"; font-size: 34px; }
.locator:after { content: "0"; font-size: 34px; }

.rss:after { content: "S"; font-size: 34px; }
.cloud:after { content: "y"; font-size: 34px; }
.download:after { content: "w"; font-size: 34px; }
.trash:after { content: "I"; font-size: 34px; }
.rack:after { content: "t"; font-size: 34px; }
.map:after { content: "1"; font-size: 34px; }

.setting:after { content: "@"; font-size: 34px; }
.identity:after { content: "."; font-size: 34px; }
.navigation:after { content: "2"; font-size: 34px; }
.gallery:after { content: "p"; font-size: 34px; }
.email:after { content: "%"; font-size: 34px; }
.users:after { content: "+"; font-size: 34px; }

.calendar:after { content: "P"; font-size: 34px; }
.link:after { content: ">"; font-size: 34px; }
.time:after { content: "N"; font-size: 34px; }
.folder:after { content: "s"; font-size: 34px; }
.tag:after { content: "C"; font-size: 34px; }
.share:after { content: "5"; font-size: 34px; }

.lock:after { content: "U"; font-size: 34px; }
.unlock:after { content: "V"; font-size: 34px; }
.mic:after { content: "O"; font-size: 34px; }
.love:after { content: "6"; font-size: 34px; }
.star:after { content: "7"; font-size: 34px; }
.like:after { content: "8"; font-size: 34px; }

.phone:after { content: "!"; font-size: 34px; }
.flag:after { content: "?"; font-size: 34px; }
.adduser:after { content: "-"; font-size: 34px; }
.attach:after { content: "'"; font-size: 34px; }
.comment:after { content: ":"; font-size: 34px; }
.edit:after { content: "&"; font-size: 34px; }

.upload:after { content: "v"; font-size: 34px; }
.storage:after { content: "x"; font-size: 34px; }
.photo:after { content: "D"; font-size: 34px; }
.help:after { content: "K"; font-size: 34px; }
.glass:after { content: "R"; font-size: 34px; }
.print:after { content: "<"; font-size: 34px; }

.gadget:after { content: '"'; font-size: 34px; }


/*########################################### BOTON #################################################*/

.encabezado h1 {
    /*display: none;*/
    font-family: Arial, Helvetica, sans-serif;  
    color: #fff;
    margin: 0 auto; /*Centro Absoluti*/
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.encabezado h2 {
    /*display: none;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: bold;*/
    font-size: 16px;
    color: rgba(0,0,0,1);
    text-shadow: 0 1px 1px rgba(256,256,256,0.4);    
    margin: 0 auto; /*Centro Absoluti*/
}

.encabezado p {
    position: relative;
    float: right;
    text-shadow: 0 1px 1px rgba(256,256,256,0.4); 
    text-align: left;
    margin-top: -25px;
    padding-right:  25px;
}

hr#header_stripe {
    height: 12px;
    width: 100%;
    position: relative;
    top: -8px;
    background: rgba(0, 0, 0, 0.16);
    color: #153E7E;
    border:1px solid #fff; /*Color del borde*/
    border-color:#191919 #191919 #191919 #191919 ;
}
.barralateral {
    float: left;
    width: 150px;
    height: 400px;
    background-color: #EADCAE;
    padding-bottom: 20px;
    position: relative;
    border:1px solid #fff; /*Color del borde*/
    border-color:#fff #666661 #666661 #fff ;
    z-index: 10;
}
.menuUL li{
    /* This will arrange the LI-s next to each other */
    display: table;
}
.menuUL li a,.menuUL li a:visited{
    /* Styling the hyperlinks of the menu as buttons */
    float:left;
    /* display:block allows for additional CSS rules to take effect, such as paddings: */
    height:10px;
    /* Setting a CSS3 box shadow around the button */
}
.menuUL li a,:hover{
    /* On hover show the top, lighter, part of the background: */
    background-position:center top;
    text-decoration:none;
}

.submenu a, .submenu a:visited{
    
    height:10px;
    width: 75px;
}

.submenu a:hover{
    /* On hover show the top, lighter, part of the background: */
    background-position:center top;
    text-decoration:none;
}

.formularios {
    width: 931px;
    background: none;
    padding-bottom: 10px;
    padding-left: 80px;
    margin-top: 17.5px;
    position: relative;  
}

/*###################################FORMS####################################*/

/*Campo donde esta el formulario*/
fieldset {
    background:#4C787E; /*Color de Fondo*/
    border:1px solid #fff; /*Color del borde*/
    border-color:#fff #666661 #666661 #fff ; 
    margin-bottom:36px;
    float: right;
}
.tableform{
    background: url("../img/darkblue.jpg")no-repeat left top; /*Color de Fondo*/
    padding:10px; /*Alineacion*/
    border:1px solid #fff; /*Color del borde*/
    border-color:#e5e5e5 #797c80 #797c80 #e5e5e5;
    width:780px;
    margin-bottom:36px; 
    float: right;
    height: 250px;
}
.action {
    float: right;
    background:url("../img/darkblue.jpg") no-repeat center bottom;; 
    border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; 
    margin-top:-30px;
    width: 749px;
}


/*Encabezado de los formularios*/
legend {
    background:#4AA02C; 
    color:#fff; 
    font:17px/21px Century Gothic; 
    padding:0 10px; 
    margin:-26px 0 0 -11px; 
    /*font-weight:bold; DESACTIVADO*/ 
    border:1px solid #fff; 
    border-color:#fff #666661 #666661 #fff ;
    width: 400px;
}
label {
    font:17px/21px Century Gothic;
    /*font-weight:bold; DESACTIVADO*/ 
    color:#CCCCCC;
}
input, textarea, select {
    font:17px/21px Century Gothic;
    width: 400px;
}
dl {
    clear:both;
}
dt {
    float: left; 
    width: 200px;
    text-align:right;
}
dd {float:left; width:75px; line-height:25px; margin:0 0 0 0;}
th,td {
    padding: 2px 4px 2px 4px !important;
    text-align: left;
    vertical-align: top;
    width: 200px;
}

#tittleinicio{
    font-family: Arial, Helvetica, sans-serif;   
    color: rgba(256,256,256,1);
    text-shadow: 0 1px 1px rgba(256,256,256,0.1);    
    margin: 0 auto; /*Centro Absoluti*/
}

/*###################################FORMS END####################################*/

.footer {
    width: 100%;
    padding: 10px 0;
    background: url(../img/green-wallpaper.jpg) no-repeat left bottom #CCC49F;
    position: relative;/* esto da a IE6 hasLayout para borrar correctamente */
    clear: both; /* esta propiedad de borrado fuerza a .container a conocer dónde terminan las columnas y a contenerlas */
    border:1px solid #fff; /*Color del borde*/
    border-color:#fff #666661 #666661 #fff ;
    height: 90px;
}
.footer p {
    color: #fff;
    font-family: Century Gothic, Georgia, "Times New Roman", Times, serif;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.displaytable{
    background: black;
    position: relative;
    filter:alpha(opacity=70);
    -moz-opacity:0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    z-index: -1;
    border:1px solid #fff; /*Color del borde*/
    border-color:#fff #666661 #666661 #fff ;
    width: 100%;
    height: 327px;
    margin-top: 410px;
}